/* img{
    width: 75px;
    height: 75px; 
    border-radius: 50%;
} */
.col-md-3{
    width: 23%;
    margin: 1%;
 }
img{
    width: 150px;
    height: 150px;
} 

.mat-card-content{
      text-align: center;
  }
.mat-card-actions
{
    text-align: center;
}
.mat-raised-button {
    width: 46%;
    margin: 2% !important;
}