<mat-card>
  <mat-card-content class="mat-card-content">
    <h3>{{hour.Name}}</h3>
    <hr class="colorgraph">
    <label>worked hours:</label>
    <label>{{hour.Hours}}</label>
    <label *ngIf="hour.Hours==''">0</label>
    <br>
    <label>allocated hours:</label>
    <label>{{hour.allocatedHours}}</label>
  </mat-card-content>
  <div class="none" *ngIf="hour.allocatedHours!=0 && json.parse(localStorage.getItem(global.currentUser)).StatusId==2"><i class="fa fa-pause-circle"></i></div>
  <div class="none" *ngIf="hour.allocatedHours==0"><i class="fa fa-pause-circle"></i></div>
  <div *ngIf="json.parse(localStorage.getItem(global.currentUser)).StatusId==3 && hour.allocatedHours!=0">
    <div class="play start" *ngIf="!enableStop&&!this.hoursService.projectStart" (click)="StartTimer()"><i class="fa fa-play-circle"></i></div>
    <div class="play stop" *ngIf="enableStop" (click)="StopTimer()"><i class="fa fa-pause-circle"></i></div>
    <b *ngIf="enableStop">
      <span *ngIf="zeroFlagH">0</span>{{timerHours}}:
      <span *ngIf="zeroFlagM">0</span>{{timerMinutes}}:
      <span *ngIf="zeroFlagS">0</span>{{timerSeconds}}
    </b>
  </div>
</mat-card>

<div *ngIf="isEdit">
  <button mat-raised-button color="primary" (click)="workerHours()">
    <i class="fa fa-clock-o"></i>
    change allocated hours
  </button>
</div>
<br>