header{
    height: 15%;   
    border-bottom: solid 1px #9e9e9e85;
    margin: 0 2%;
}
img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
.userName{    
    font-size: 25px;
    font-weight: bold;
    padding: 3%;
    color:#9E9E9E;
}

.user{
    margin-top: 2%;
}