<div *ngIf="worker">
<h1>The worker: {{worker.Name}}</h1>
<div class="row">
  <div class="col-md-3" *ngFor="let projectHour of projectsHours">
    <app-hours [hour]=projectHour (click)="setAllocatedHours(projectHour.Id,projectHour.Name)" [isEdit]=isEdit></app-hours>
  </div>
</div>
<div class="cont_centrar" *ngIf="projectId">
  <div>
    <h4>Enter allocated hours:</h4>
    <input matInput [(ngModel)]="numHours">
  </div>
  <button mat-raised-button color="primary" (click)="changeHours()">
    Update Hours
  </button>
</div>
</div>
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>