.productContainer{
    height: 45vh;
    border-radius: 15px;
    box-shadow: 2px 4px 11px 0px #777;
    margin-bottom: 10%;
    padding: 4%;
}
.imageContainer{
    background-color: black;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
img{
    width: 100%;
}
.content{
    height: 80%;
    padding-bottom: 8%;
}
.subtitle{
    color: #2196F3;
}
.preview{
    margin-top: 8%;
}
.scrollbar{
    overflow-x: hidden;
}
.force-overflow{
    min-height: 85%;
}