<div id="container">
    <div *ngIf="project" class="productDetailsContainer ">
       
        <mat-card class="col-md-10">
            <mat-card-content class="mat-card-content">

                <h3>{{project.Name}}</h3>
                <hr class="colorgraph">
                <dl>

                    <dt class="col-md-5">Customer Name:</dt>
                    <dd class="col-md-7">{{project.Customer}}&nbsp;</dd>

                    <dt class="col-md-5">Start date:</dt>
                    <dd class="col-md-7">{{project.StartDate | date: 'dd/MM/yyyy'}}&nbsp;</dd>

                    <dt class="col-md-5">End date:</dt>
                    <dd class="col-md-7">{{project.EndDate | date: 'dd/MM/yyyy'}}&nbsp;</dd>

                    <dt class="col-md-5">Total Hours:</dt>
                    <dd class="col-md-7">{{project.DevelopHours+project.QAHours+project.UiUxHours}}&nbsp;</dd>

                    <dt class="col-md-5">Developer Hours:</dt>
                    <dd class="col-md-7"> {{project.DevelopHours}}&nbsp;</dd>

                    <dt class="col-md-5">QA Hours:</dt>
                    <dd class="col-md-7">{{project.QAHours}}&nbsp;</dd>

                    <dt class="col-md-5">UI/UX Hours:</dt>
                    <dd class="col-md-7">{{project.UiUxHours}}&nbsp;</dd>

                    <dt class="col-md-5" >Is Complete:</dt>
                    <dd class="col-md-7" *ngIf="project.IsComplete">yes&nbsp;</dd>
                    <dd class="col-md-7" *ngIf="!project.IsComplete">not&nbsp;</dd>
                </dl>
                <div class="col-md-offset-10">
                <button  mat-raised-button color="primary" (click)="editProject(project)" *ngIf="json.parse(localStorage.getItem(global.currentUser)).StatusId==2">
                    <i class="fa fa-pencil-square-o"></i>
                    Edit
                </button>
            </div>
                <!-- <button class="button col-md-offset-2 col-md-8" (click)="editProject(project)" *ngIf="json.parse(localStorage.getItem(global.currentUser)).StatusId==2">Edit</button> -->

            </mat-card-content>
        </mat-card>
    </div>
</div>
<br> <br>
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>