.productDetailsContainer{
    border-radius: 15px;
    box-shadow: 2px 4px 11px 0px #777;
    margin-bottom: 10%;
    padding: 3%;
    margin-top: 3%;
    height: 57vh;
}
#details{
    padding: 0 !important;
}
dl{
    font-size: 20px;   
}
dt,dd{
    margin-bottom: 3%;
}

.button{
    margin-top: 5%;
}
.imageContainer{
    background-color: black;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

img{
    width: 100%;
}
.right{
    height: 75%;
}
.container{
margin: 3% 0;
}
