<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="MDS" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="XmlConfiguredInstance" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="5" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins" />
    <add key="quartz.plugin.xml.fileNames" value="C:\Users\novakr\Desktop\notification\MailingService\MailingService\quartzJobsAndTriggers.xml" />
  </quartz>
  <MDS>
    <add key="URL" value="http://mds.seldatinc.net/api/" />
    <add key="Username" value="tamar.shankolevsky@seldatinc.com" />
    <add key="Password" value="Aa123!" />
    <add key="ApplicationDomainId" value="265" />
    <add key="TaskWarning" value="1091" />
  </MDS>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>