<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Add Employees</h4>
    </div>

    <div class="modal-body">
      <div *ngIf="workersFormGroup">
        <form [formGroup]="workersFormGroup" (ngSubmit)="onSubmit()">

          <!-- Workers to add -->
          <div *ngIf="workersToSelect.length>0">
            <mat-selection-list formControlName="workersToProject" id="workersToProject" #workers>
              <mat-list-option [selected]="worker.ManagerId==project.TeamLeaderId.value" *ngFor="let worker of workersToSelect"
                [value]="worker.Id">
                {{worker.Name}}
              </mat-list-option>
            </mat-selection-list>
            <p>
              Workers selected: {{workers.selectedOptions.selected.length}}
            </p>
          </div>

          <button type="submit" class="button col-md-offset-2 col-md-8" [disabled]="workersFormGroup.invalid">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>